@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Silkscreen:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DotGothic16", arial;
}

:root {
    --yellow: #FFFF77;
    --darkred: #8E1606;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--yellow);
    padding: 15px 0;
    z-index: 1000;
    border-top: var(--darkred);
    border-bottom: var(--darkred);

    text-decoration: underline;
    color: var(--darkred);

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    color: var(--darkred);
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #ff6600;
}

.trend {
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--yellow);
    padding: 15px 0;
    z-index: 1000;
    border-top: var(--darkred);
    border-bottom: var(--darkred);
    color: var(--darkred);

}

.trend ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}




/* Section styling */
section {
    height: 100vh;
    padding-top: 70px;
    /* Space so content isn't hidden under fixed menu */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

    scroll-snap-align: start;
}


h3 {
    margin-bottom: 1rem;
    text-align: center;
}


#section1 {
    background: var(--darkred);
    color: var(--yellow);
    background-image: url("images/cover2.jpg");
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;

}

#section2 {
    background: #e0e0a7;
    color: var(--darkred);
}

#section3 {
    background: var(--darkred);
    color: var(--yellow);
}

#section4 {


    color: var(--yellow);
    background-image: url("images/cover3.jpg");
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}


.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}