@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Silkscreen:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DotGothic16", arial;
}

:root {
    --yellow: #FFFF77;
    --darkred: #8E1606;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--yellow);
    padding: 15px 0;
    z-index: 1000;
    text-decoration: underline;
    color: var(--darkred);
     

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    color: var(--darkred);
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #ff6600;
}

.trend {
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--yellow);
    z-index: 1000;
border-bottom: 2px solid var(--darkred); /* Added border */
border-top: 2px solid var(--darkred); /* Added border */

}




.banner {
     background:var(--yellow);
    color: var(--darkred);
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    user-select: none;
    transition: background 0.2s, transform 0.2s;
    text-align: center;
    
}

.banner:hover {
    background: var(--darkred);
    color: var(--yellow);
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

select {
    padding: 8px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    color: var(--darkred);
    cursor: pointer;
}

.carousel-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    animation: scroll 25s linear infinite;
}

/* Pause animation on hover */
.carousel-wrapper:hover .carousel {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.album {
    position: relative;
    min-width: 150px;
    flex-shrink: 0;
}

.album img {
    width: 150px;
    border-radius: 8px;
    transition: transform 0.2s;
    cursor: pointer;
    display: block;
}

.album:hover img {
    transform: scale(1.08);
}

/* HOVER OVERLAY */
.album .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    border-radius: 0 0 8px 8px;

    background: linear-gradient(to top, rgb(143, 35, 35), rgba(0, 0, 0, 0.014));
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.25s ease;
}

/* Show on hover */
.album:hover .info {
    opacity: 1;
    transform: translateY(0);
}

.info p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.info small {
    opacity: 0.8;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: white;
}


/* Section styling */
section {
    height: 100vh;
    padding-top: 70px;
    /* Space so content isn't hidden under fixed menu */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;

    scroll-snap-align: start;
}


h3 {
    margin-bottom: 1rem;
    text-align: center;
}


#section1 {
    background: var(--darkred);
    color: var(--yellow);
    background-image: url("images/cover2.jpg");
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;

}

#section2 {
    background: var(--yellow);
    color: var(--darkred);
}

#section3 {
    background: var(--darkred);
   color: var(--yellow);
    
}

#section4 {


    color: var(--yellow);
    background-image: url("images/cover3.jpg");
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}


.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}


  #overlayBackground {
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.5); /* grey dim effect */
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9998;
        backdrop-filter: blur(2px);
    }

    /* --- THE POPUP WINDOW --- */
    #welcomeWindow {
       
        padding: 10px 0px 10px 0px;
        border-radius: 3px;
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
        z-index: 9999;
        width: 700px;   
        
    }

    #closeOverlay {
        background: var(--yellow);
        border: 2px dashed var(--darkred);
        color: var(--darkred);
        margin-top: 0px;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        width: 100%;
    }

     #closeOverlay:hover {
    background: var(--darkred);
    color: var(--yellow);
    
}